.bag-button {
    background-color: lightblue;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;

}

.wish-button {
    padding: 5px 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
    text-transform: uppercase;
}