* {
    margin: 0;  /*koi bhi space nahi hoga corner pe touch hoga border*/
    padding: 0;
    box-sizing: border-box;            /* dono box ka size same ho jayega */
}
.box {
    width: 200px;
    height:200px;
    border: 20px solid red;
    padding: 40px 30px 10px;
    margin: 40px;    /*without margin both box will be attached*/
}